Bonjour ${civilite} ${nom},</p>
Nous vous informons que vous venez d'être enregistré comme employé au sein de l'application de gestion de pointage Deep Sky. Afin que notre système
de reconnaissance faciale puisse vous reconnaître, il est primordial que votre visage soit pré-enregistré au sein du pointeur biométrique.
Nous vous recommandons de suivre les étapes suivantes :<br/>
- Rendez-vous au niveau du pointeur biométrique et tenez-vous à une distance de moins de 1,5 mètre ;<br/>
- Lorsque le pointeur biométrique vous indiquera qu'il ne vous reconnaît pas, présentez lui le code QR en pièce jointe à une distance de 
moins de 50 centimètres ;<br/>
- Suivez ensuite les instructions du pointeur biométrique pour la prise des images de votre visage.<br/>
Cordialement.